<fieldset class="form-group radio_buttons required user_is_student custom-control custom-radio col-md-12">
  <legend class="col-form-label pt-0 text-bold">
    <%= label_for(column) %>
  </legend>

  <input type="hidden" name="user[<%= column %>]" value="">

  <div class="form-check inline">
    <input class="form-check-input radio_buttons custom-control-input input-background-<%= color %>"
           type="radio"
           value="1"
           name="user[<%= column %>]"
           id="user_<%= column %>_1" <%= "checked" if @user.public_send(column) %>>
    <label class="custom-control-label" for="user_<%= column %>_1">Sí</label>
  </div>

  <div class="form-check inline">
    <input class="form-check-input radio_buttons custom-control-input input-background-<%= color %>"
           type="radio"
           value="0"
           name="user[<%= column %>]"
           id="user_<%= column %>_0" <%= "checked" unless defined?(empty) || @user.public_send(column) %>>
    <label class="custom-control-label" for="user_<%= column %>_0">No</label>
  </div>

  <% if na_allowed %>
    <div class="form-check inline">
      <input class="form-check-input radio_buttons custom-control-input input-background-<%= color %>"
             type="radio"
             value="2"
             name="user[<%= column %>]"
             id="user_<%= column %>_2" checked>
      <label class="custom-control-label" for="user_<%= column %>_2">No Sabe / No Aplica</label>
    </div>
  <% end %>
</fieldset>

<% if @user.errors.messages[column].present? %>
  <div class="invalid-feedback"
       style="display: block; margin: -15px 0px 15px 1px">no puede estar en blanco</div>
<% end %>
