<section class="above-fold-questions-1">
  <%= image_tag "encabezado_inicio_1920.png", class: "header-image" %>
</section>

<section class="below-fold-questions-2">
  <div class="card questions-card">
    <div class="card-header">
      <p class="text-uppercase center">Progreso de respuestas</p>
      <div class="progress">
        <div class="progress-bar background-color-primary" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
          <span class="sr-only">66% Lleno</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="question-section">
        <div class="offset-md-1 col-md-10">
          <%= simple_form_for(@user, method: :put) do |f| %>

            <div class="container">

              <div class="row">
                <%= image_tag "maletin_naranja.png", style: "width: 50px" %>
                <h4 class="text-uppercase inline question-section-header col"><strong>Trabajo </strong> de tu padre</h4>
              </div>

              <div class="row">
                <%= render "custom_radio_buttons", column: :father_is_employed, na_allowed: true  %>
              </div>
 
              <div class="row">
                <div class="col-6">
                  <strong>En ese empleo o actividad...</strong>
                </div>
              </div>
              <div class="row">

                <%= render "custom_radio_buttons", column: :father_has_healthcare, na_allowed: true  %>

                <%= f.input :father_job_type_id,
                  collection: JobType.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:father_job_type_id),
                  input_html: { class: "col-md-6" },
                  wrapper_html: { class: "col-md-6" } %>

              </div>

              <div class="row">
                <%= f.input :father_job_employees_group_id,
                  collection: JobEmployeesGroup.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:father_job_employees_group_id),
                  input_html: { class: "col-md-8" } %>
              </div>

              <div class="row">
                <%= image_tag "maletin_naranja.png", style: "width: 50px" %>
                <h4 class="text-uppercase inline question-section-header col">Tu <strong>trabajo</strong> </h4>
              </div>

              <div class="row">

                <%= render "custom_radio_buttons", column: :is_employed, na_allowed: true  %>
                <%= render "custom_radio_buttons", column: :is_first_job, na_allowed: true  %>

                <%= f.input :job_sector_id,
                  collection: JobSector.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:job_sector_id),
                  wrapper_html: { class: "col-md-4" } %>

              </div>

              <div class="row">
                <div class="col-6">
                  <strong>En ese empleo o actividad...</strong>
                </div>
              </div>

              <div class="row">

                <%= render "custom_radio_buttons", column: :has_healthcare, na_allowed: true  %>

                <%= f.input :job_type_id,
                  collection: JobType.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:job_type_id),
                  wrapper_html: { class: "col-md-4" } %>

              </div>

              <div class="row">

                <%= render "custom_radio_buttons", column: :has_employees, na_allowed: true  %>

                <%= f.input :job_employees_group_id,
                  collection: JobEmployeesGroup.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:job_employees_group_id),
                  wrapper_html: { class: "col-md-3" } %>

                <%= f.input :job_schedule_id,
                  collection: JobSchedule.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:job_schedule_id),
                  wrapper_html: { class: "col-md-4" } %>

              </div>

              <div class="row" style="justify-content: center">
                <%= hidden_field_tag :next_step, question_part_3_path %>
                <%= f.submit "Siguiente", class: "btn btn-primary questions-submit-button" %>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "shared/benefit_sections", health_enabled: true, education_enabled: false, work_enabled: false %>
  </div>
</section>
<%= render "shared/footer" %>
