<section class="above-fold-questions-1">
  <%= image_tag "encabezado_inicio_1920.png", class: "header-image" %>
</section>

<section class="below-fold-questions-1">
  <div class="card questions-card">
    <div class="card-header">
      <p class="text-uppercase center">Progreso de respuestas</p>
      <div class="progress">
        <div class="progress-bar background-color-primary" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
          <span class="sr-only">99% Lleno</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="question-section">
        <div class="offset-md-1">
          <%= simple_form_for(@user, method: :put) do |f| %>

            <div class="container">

              

              <div class="row">
                <%= image_tag "casa_verde.png", style: "width:50px" %>
                <h4 class="text-uppercase inline question-section-header col">Tu Hogar</h4>
              </div>

              <div class="row" style="margin-top:20px">
                <div class="col-6">
                  <strong>Cuando tenías 14 años, en tu casa ¿había...?</strong>
                </div>
              </div>

             <% [
                  :home_had_mobile_phone,
                  :home_had_fixed_phone,
                  :home_had_internet,
                  :home_had_stove,
                  :home_had_fridge,
                  :home_had_heater,
                  :home_had_toaster,
                  :home_had_water,
                  :home_had_bathroom,
                  :home_had_electricity,
                  :home_had_washer,
                ].each do |column| %>
                <div class="row">
                  <%= render "custom_radio_buttons", column: column, na_allowed: true, aqua: true  %>
                </div>
              <% end %>

              <div class="row" style="justify-content:center">
                <%= hidden_field_tag :next_step, simulator_start_path %>
                <%= f.submit "Simulador", class: "btn btn-primary questions-submit-button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "shared/benefit_sections", health_enabled: true, education_enabled: false, work_enabled: false %>
  </div>
</section>
<%= render "shared/footer" %>
