<section class="above-fold-questions-1">
  <%= image_tag "encabezado_cuestionarios.png", class: "header-image" %>
</section>

<section class="below-fold-questions-1">
  <div class="card questions-card">
    <div class="card-header">
      <%= render "questions/progress_bar", progress: 99 %>
    </div>

    <%= simple_form_for(@user, method: :put) do |f| %>
      <div class="card-body">
        <div class="container left-indent">

          <div class="row question-header-section-box">
            <%= image_tag "casa_verde.png", class: "heading-image" %>
            <h4 class="text-uppercase inline question-section-header col-md">
              Tu <span class="text-boldest">Hogar</span>
            </h4>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <strong>Cuando tenías 14 años, en tu casa ¿había...?</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_mobile_phone,
                na_allowed: true,
                color: "orange" %>
            </div>

            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_fixed_phone,
                na_allowed: true,
                color: "orange" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_internet,
                na_allowed: true,
                color: "orange" %>
            </div>

            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_stove,
                na_allowed: true,
                color: "orange" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_fridge,
                na_allowed: true,
                color: "orange" %>
            </div>

            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_heater,
                na_allowed: true,
                color: "orange" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_toaster,
                na_allowed: true,
                color: "orange" %>
            </div>

            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_water,
                na_allowed: true,
                color: "orange" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_bathroom,
                na_allowed: true,
                color: "orange" %>
            </div>

            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_electricity,
                na_allowed: true,
                color: "orange" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :home_had_washer,
                na_allowed: true,
                color: "orange" %>
            </div>
          </div>

        </div>
      </div>

      <div class="card-body center">
        <%= hidden_field_tag :next_step, simulator_start_path %>
        <%= f.submit "Simulador", class: "btn btn--submit btn-primary" %>
      </div>
    <% end %>
    <div class="card-body">
      <%= render "shared/benefit_sections",
        health_enabled: true,
        education_enabled: false,
        work_enabled: false %>
    </div>
  </div>

  <%= render "shared/footer" %>
</section>
