<div class="progress">
  <p class="uppercase center">Progreso</p>
  <div class="progress-bar"></div>
</div>
<div class="card">
  <div class="card-header">
    <h1 class="uppercase">Necesitamos algunos datos sobre tus padres</h1>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Escolares</h4>
      <%= simple_form_for(@user, method: :put, html: { class: "form-inline" }) do |f| %>
        <%= f.input :edad_padre, label: label_for(:edad_padre), wrapper_html: { class: "col-4" } %>
        <%= f.input :estado_residencia_padre, collection: Mexico::ESTADOS, label: label_for(:estado_residencia_padre), wrapper_html: { class: "col-4" } %>
        <%= f.input :ultimo_grado_cursado_padre, collection: Mexico::GRADOS_ESCOLARES, label: label_for(:ultimo_grado_cursado_padre), wrapper_html: { class: "col-4" } %>
        <%= f.input :edad_madre, label: label_for(:edad_madre), wrapper_html: { class: "col-4" } %>
        <%= f.input :estado_residencia_madre, collection: Mexico::ESTADOS, label: label_for(:estado_residencia_madre), wrapper_html: { class: "col-4" } %>
        <%= f.input :ultimo_grado_cursado_madre, collection: Mexico::GRADOS_ESCOLARES, label: label_for(:ultimo_grado_cursado_madre), wrapper_html: { class: "col-4" } %>
    </div>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Laborales</h4>
        <%= f.input :padre_trabajaba, collection: [], label: label_for(:padre_trabajaba), wrapper_html: { class: "col-6" } %>
        <div class="col-6">
          <strong>En ese empleo o actividad...</strong>
          <%= f.input :cuenta_con_servicios_medicos_padre, collection: [], label: label_for(:cuenta_con_servicios_medicos_padre) %>
        </div>
        <%= f.input :tipo_de_trabajo_padre, collection: [], label: label_for(:tipo_de_trabajo_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :tiene_empleados_padre, collection: [], label: label_for(:tenia_empleados_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :cuantos_empleados_padre, collection: [], label: label_for(:cuantos_empleados_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :tiempo_trabajo_padre, collection: [], label: label_for(:tiempo_trabajo_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :sector_empleo_padre, collection: [], label: label_for(:sector_empleo_padre), wrapper_html: { class: "col-6" } %>
        <%= hidden_field_tag :next_step, simulator_start_path %>
        <%= f.submit "Simulador" %>
      <% end %>
    </div>
  </div>
</div>
