<div class="progress">
  <p class="text-uppercase center">Progreso</p>
  <div class="progress-bar"></div>
</div>
<div class="card">
  <div class="card-header">
    <h1 class="text-uppercase">Necesitamos algunos datos sobre tus padres</h1>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="text-uppercase">Laborales</h4>
      <%= simple_form_for(@user, method: :put, html: { class: "form-inline" }) do |f| %>
        <%= f.input :father_is_employed, collection: yes_no, label: label_for(:father_is_employed), wrapper_html: { class: "col-6" } %>
        <div class="col-6">
          <strong>En ese empleo o actividad...</strong>
          <%= f.input :father_has_healthcare, collection: yes_no, label: label_for(:father_has_healthcare) %>
        </div>
        <%= f.input :father_job_type, collection: [], label: label_for(:father_job_type), wrapper_html: { class: "col-6" } %>
        <%= f.input :father_has_employees, collection: [], label: label_for(:father_has_employees), wrapper_html: { class: "col-6" } %>

        <%= f.input :mother_is_employed, collection: yes_no, label: label_for(:mother_is_employed), wrapper_html: { class: "col-6" } %>
        <div class="col-6">
          <strong>En ese empleo o actividad...</strong>
          <%= f.input :mother_has_healthcare, collection: yes_no, label: label_for(:mother_has_healthcare) %>
        </div>
        <%= f.input :mother_job_type, collection: yes_no, label: label_for(:mother_job_type), wrapper_html: { class: "col-6" } %>
        <%= f.input :mother_has_employees, collection: yes_no, label: label_for(:mother_has_employees), wrapper_html: { class: "col-6" } %>
        <%= hidden_field_tag :next_step, question_part_3_path %>
        <%= f.submit "Siguiente" %>
      <% end %>
    </div>
  </div>
</div>
