<div class="progress">
  <p class="uppercase center">Progreso</p>
  <div class="progress-bar"></div>
</div>
<div class="card">
  <div class="card-header">
    <h1 class="uppercase">Necesitamos algunos datos sobre ti</h1>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Laborales</h4>
      <%= simple_form_for(@user, method: :put, html: { class: "form-inline" }) do |f| %>
        <%= f.input :father_is_employed, collection: yes_no, label: label_for(:father_is_employed), wrapper_html: { class: "col-6" } %>
        <div class="col-6">
          <strong>En ese empleo o actividad...</strong>
          <%= f.input :father_has_healthcare, collection: yes_no, label: label_for(:father_has_healthcare) %>
        </div>
        <%= f.input :father_job_type, collection: [], label: label_for(:father_job_type), wrapper_html: { class: "col-6" } %>
        <%= f.input :father_has_employees, collection: [], label: label_for(:father_has_employees), wrapper_html: { class: "col-6" } %>

        <%= f.input :mother_is_employed, collection: yes_no, label: label_for(:mother_is_employed), wrapper_html: { class: "col-6" } %>
        <div class="col-6">
          <strong>En ese empleo o actividad...</strong>
          <%= f.input :mother_has_healthcare, collection: yes_no, label: label_for(:mother_has_healthcare) %>
        </div>
        <%= f.input :mother_job_type, collection: yes_no, label: label_for(:mother_job_type), wrapper_html: { class: "col-6" } %>
        <%= f.input :mother_has_employees, collection: yes_no, label: label_for(:mother_has_employees), wrapper_html: { class: "col-6" } %>
    </div>
  </div>
<!-- 
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Hogar</h4>
      <strong>Cuando tenías 14 años, en tu casa ¿había...?</strong>
      <%= f.input :en_hogar_habia_celular, label: label_for(:en_hogar_habia_celular), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_telefono_fijo, label: label_for(:en_hogar_habia_telefono_fijo), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_internet, label: label_for(:en_hogar_habia_internet), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_estufa, label: label_for(:en_hogar_habia_estufa), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_refri, label: label_for(:en_hogar_habia_refri), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_calentador, label: label_for(:en_hogar_habia_calentador), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_tostador, label: label_for(:en_hogar_habia_tostador), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_agua, label: label_for(:en_hogar_habia_agua), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_bano, label: label_for(:en_hogar_habia_bano), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_electricidad, label: label_for(:en_hogar_habia_electricidad), wrapper_html: { class: "col-4" } %>
      <%= hidden_field_tag :next_step, question_part_3_path %>
      <%= f.submit "Siguiente" %>
      <% end %>
    </div>
  </div>
 -->
</div>
