<div class="progress">
  <p class="uppercase center">Progreso</p>
  <div class="progress-bar"></div>
</div>
<div class="card">
  <div class="card-header">
    <h1 class="uppercase">Necesitamos algunos datos sobre ti</h1>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Laborales</h4>
      <%= simple_form_for(@user, method: :put, html: { class: "form-inline" }) do |f| %>
        <%= f.input :actualmente_trabajas, collection: [], label: label_for(:actualmente_trabajas), wrapper_html: { class: "col-6" } %>
        <div class="col-6">
          <strong>En ese empleo o actividad...</strong>
          <%= f.input :cuenta_con_servicios_medicos, collection: [], label: label_for(:cuenta_con_servicios_medicos) %>
        </div>
        <%= f.input :tipo_de_trabajo, collection: [], label: label_for(:tipo_de_trabajo), wrapper_html: { class: "col-6" } %>
        <%= f.input :tiene_empleados, collection: [], label: label_for(:tienes_empleados), wrapper_html: { class: "col-6" } %>
        <%= f.input :cuantos_empleados, collection: [], label: label_for(:tiempo_trabajo_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :tiempo_trabajo, collection: [], label: label_for(:tiempo_trabajo_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :cuantos_empleados, collection: [], label: label_for(:cuantos_empleados_padre), wrapper_html: { class: "col-6" } %>
        <%= f.input :sector_empleo, collection: [], label: label_for(:sector_empleo_padre), wrapper_html: { class: "col-6" } %>
    </div>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Hogar</h4>
      <strong>Cuando tenías 14 años, en tu casa ¿había...?</strong>
      <%= f.input :en_hogar_habia_celular, label: label_for(:en_hogar_habia_celular), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_telefono_fijo, label: label_for(:en_hogar_habia_telefono_fijo), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_internet, label: label_for(:en_hogar_habia_internet), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_estufa, label: label_for(:en_hogar_habia_estufa), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_refri, label: label_for(:en_hogar_habia_refri), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_calentador, label: label_for(:en_hogar_habia_calentador), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_tostador, label: label_for(:en_hogar_habia_tostador), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_agua, label: label_for(:en_hogar_habia_agua), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_bano, label: label_for(:en_hogar_habia_bano), wrapper_html: { class: "col-4" } %>
      <%= f.input :en_hogar_habia_electricidad, label: label_for(:en_hogar_habia_electricidad), wrapper_html: { class: "col-4" } %>
      <%= hidden_field_tag :next_step, question_part_3_path %>
      <%= f.submit "Siguiente" %>
      <% end %>
    </div>
  </div>
</div>
