<section class="above-fold-questions-1">
  <%= image_tag "encabezado_cuestionarios.png", class: "header-image", id: "header-image" %>
</section>

<section class="below-fold-questions-2">
  <div class="card questions-card">
    <div class="card-header">
      <%= render "questions/progress_bar", progress: 66 %>
    </div>

    <%= simple_form_for(@user, method: :put) do |f| %>
      <div class="card-body">
        <div class="container left-indent">

          <div class="row question-section-header-box">
            <%= image_tag "maletin_naranja.png", class: "heading-image" %>
            <h4 class="text-uppercase inline question-section-header col-md">
              Tu <span class="text-boldest">Trabajo</span>
            </h4>
          </div>

          <div class="row" data-behavior="questions" data-id="user">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :is_employed,
                na_allowed: false,
                color: "orange" %>
            </div>
          </div>

          <div class="row hidden" data-behavior="questions-user">
            <div class="col-md-3">
              <%= render "boolean_radio_buttons",
                column: :is_first_job,
                na_allowed: false,
                color: "orange" %>
            </div>

            <div class="col-md-9">
              <%= render "boolean_radio_buttons",
                column: :has_healthcare,
                na_allowed: false,
                color: "orange" %>
            </div>
          </div>

          <div class="row hidden" data-behavior="questions-user">
            <div class="col-md-12">
              <%= render "boolean_radio_buttons",
                column: :has_employees,
                na_allowed: false,
                color: "orange" %>
            </div>
          </div>

        </div>
      </div>

      <div class="card-body background-gray">
        <div class="container left-indent">

          <div class="row question-section-header-box">
            <%= image_tag "maletin_naranja.png", class: "heading-image" %>
            <h4 class="text-uppercase inline question-section-header col-md">
              <span class="text-boldest">Trabajo</span>  de tu padre
            </h4>
          </div>

           <% unless @user.preteen? %>
             <div class="text-bold">Cuando tenías 14 años:</div>
           <% end %>

          <div class="row" data-behavior="questions" data-id="father">
            <div class="col-md-6">
              <%= render "boolean_radio_buttons",
                column: :father_is_employed,
                na_allowed: true,
                text_replace: (["trabajaba", "trabaja"] if @user.preteen?),
                color: "orange" %>
            </div>
          </div>

          <div class="row hidden" data-behavior="questions-father">
            <div class="col-md-12">
              <%= render "model_radio_buttons",
                klass: "JobType",
                column: :father_job_type_id,
                na_allowed: true,
                text_replace: (["era", "es"] if @user.preteen?),
                color: "orange" %>
            </div>
          </div>

          <div class="row hidden" data-behavior="questions-father">
            <div class="col-md-5">
              <%= render "boolean_radio_buttons",
                column: :father_had_employees,
                na_allowed: true,
                text_replace: (["tenía", "tiene"] if @user.preteen?),
                color: "orange" %>
            </div>

            <div class="col-md-7">
              <%= render "boolean_radio_buttons",
                column: :father_has_healthcare,
                na_allowed: true,
                text_replace: (["contaba", "cuenta"] if @user.preteen?),
                color: "orange" %>
            </div>
          </div>

        </div>
      </div>

      <div class="card-body center">
        <%= hidden_field_tag :next_step, question_part_3_path %>
        <%= f.submit "Siguiente", class: "btn btn--submit btn-primary" %>
      </div>
    <% end %>
    <div class="card-body">
      <%= render "shared/benefit_sections",
        health_enabled: true,
        education_enabled: true,
        work_enabled: false %>
    </div>
  </div>

  <%= render "shared/footer" %>
</section>
