<section class="above-fold-questions-1">
  <%= image_tag "encabezado_inicio_1920.png", class: "header-image" %>
</section>

<section class="below-fold-questions-1">
  <div class="card questions-card">
    <div class="card-header">
      <p class="text-uppercase center">Progreso de respuestas</p>
      <div class="progress">
        <div class="progress-bar background-color-primary" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
          <span class="sr-only">33% Lleno</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="question-section" >
        <div class="offset-md-1">
          <%= simple_form_for(@user) do |f| %>

            <div class="container" style="margin-left:-30px">

              <div class="row" style="padding-left:20px">
                <%= image_tag "birrete_verde.png", class: "heading-image" %>
                <h4 class="text-uppercase question-section-header col-md">Tus <strong>Estudios</strong></h4>
              </div>

              <div class="row" style="padding-left:20px">

                <%= f.input :age,
                  label: label_for(:age),
                  input_html: { class: "col-md-4" },
                  wrapper_html: { class: "col-md-3" } %>

                <%= f.input :residency_id,
                  collection: State.without_blank,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:residency_id),
                  wrapper_html: { class: "col-md-4" } %>

                <%= f.input :education_grade_id,
                  collection: EducationGrade.without_blank,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:education_grade_id),
                  wrapper_html: { class: "col-md-4" } %>

              </div>

              <div class="row" style="padding-left:20px">
                <%= f.input :sex_id,
                  collection: { "Mujer": 1, "Hombre": 2 },
                  label: label_for(:sex_id),
                  input_html: { class: "col-md-6" },
                  wrapper_html: { class: "col-md-4" } %>

                <div class="col-md-6">
                  <%= render "questions/custom_radio_buttons", column: :is_student, required: true %>
                </div>
              </div>


              <div class="row healthy" style="padding-top:30px; padding-left:20px">
                <%= image_tag "birrete_verde.png", class: "heading-image" %>
                <h4 class="text-uppercase inline question-section-header col"><strong>Estudios</strong> de tus Padres</h4>
              </div>

              <div class="row healthy" style="padding-left:20px">

                <%= f.input :father_age,
                  label: label_for(:father_age),
                  input_html: { class: "col-md-4" },
                  wrapper_html: { class: "col-md-3" } %>

                <%= f.input :father_residency_id,
                  collection: State.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:father_residency_id),
                  wrapper_html: { class: "col-md-4" } %>

                <%= f.input :father_education_grade_id,
                  collection: EducationGrade.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:father_education_grade_id),
                  wrapper_html: { class: "col-md-4" } %>

              </div>

              <div class="row healthy" style="padding-left:20px">
                <%= f.input :mother_age,
                  label: label_for(:mother_age),
                  input_html: { class: "col-md-4" },
                  wrapper_html: { class: "col-md-3" } %>

                <%= f.input :mother_residency_id,
                  collection: State.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:mother_residency_id),
                  wrapper_html: { class: "col-md-4" } %>

                <%= f.input :mother_education_grade_id,
                  collection: EducationGrade.all,
                  label_method: :description,
                  value_method: :id,
                  label: label_for(:mother_education_grade_id),
                  wrapper_html: { class: "col-md-4" } %>
              </div>

              <div class="row" style="justify-content: center">
                <%= f.submit "Siguiente", class: "btn btn-primary questions-submit-button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "shared/benefit_sections" %>
    

  </div>
</section>
<%= render "shared/footer" %>
