<h1 class="uppercase">Necesitamos algunos datos sobre tí</h1>

<div class="card">
  <div class="card-header">
    <p class="uppercase">Progreso</p>
    <div class="progress-bar"></div>
  </div>
  <div class="card-body">
    <div class="question-header"></div>
    <div class="question-section">
      <h4 class="uppercase">Escolares</h4>
      <%= simple_form_for(@user, html: { class: "form-inline" }) do |f| %>
        <%= f.input :edad, label: label_for(:edad) %>
        <%= f.input :estado_residencia, label: label_for(:estado_residencia) %>
        <%= f.input :ultimo_grado_cursado, label: label_for(:ultimo_grado_cursado) %>
        <%= f.input :sexo, label: label_for(:sexo) %>
        <%= f.input :asistes_escuela, label: label_for(:asistes_escuela) %>
        <%= f.submit "Guardar" %>
      <% end %>
    </div>
  </div>
</div>

<p>Find me in app/views/questions/start.html.erb</p>
<%= link_to "Questions Part 2", question_part_2_path %>
