<section class="above-fold-questions-1">
  <%= image_tag "encabezado_cuestionarios.png", class: "header-image" %>
</section>

<section class="below-fold-questions-1">
  <div class="card questions-card">
    <div class="card-header">
      <%= render "questions/progress_bar", progress: 33 %>
    </div>

    <%= simple_form_for(@user, defaults: { required: false  }) do |f| %>
      <div class="card-body">
        <div class="container left-indent">

          <div class="row question-section-header-box">
            <%= image_tag "birrete_verde.png", class: "heading-image" %>
            <h4 class="text-uppercase question-section-header col-md">
              Tus <span class="text-boldest">Estudios</span>
            </h4>
          </div>

          <div class="row">
            <%= f.input :age,
              label: label_for(:age),
              input_html: { class: "col-md-8" },
              wrapper_html: { class: "col-md-2" } %>

            <%= f.input :residency_id,
              collection: State.without_blank,
              label_method: :description,
              value_method: :id,
              label: label_for(:residency_id),
              wrapper_html: { class: "col-md-5" } %>

            <%= f.input :education_grade_id,
              collection: EducationGrade.without_blank,
              label_method: :description,
              value_method: :id,
              label: label_for(:education_grade_id),
              wrapper_html: { class: "col-md-5" } %>
          </div>

          <div class="row">
            <%= f.input :sex_id,
              collection: { "Mujer": 1, "Hombre": 2 },
              label: label_for(:sex_id),
              input_html: { class: "col-md-12" },
              wrapper_html: { class: "col-md-2" } %>

            <div class="col-md-6">
              <%= render "questions/custom_radio_buttons",
                column: :is_student,
                required: true,
                empty: true,
                color: "green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body background-gray">
        <div class="container left-indent">
          <div class="row question-section-header-box">
            <%= image_tag "birrete_verde.png", class: "heading-image" %>
            <h4 class="text-uppercase inline question-section-header col">
              <span class="text-boldest">Estudios</span> de tus Padres
            </h4>
          </div>

          <div class="row">
            <%= f.input :father_age,
              label: label_for(:father_age),
              input_html: { class: "col-md-8" },
              wrapper_html: { class: "col-md-2" } %>

            <%= f.input :father_residency_id,
              collection: State.all,
              label_method: :description,
              value_method: :id,
              label: label_for(:father_residency_id),
              wrapper_html: { class: "col-md-5" } %>

            <%= f.input :father_education_grade_id,
              collection: EducationGrade.all,
              label_method: :description,
              value_method: :id,
              label: label_for(:father_education_grade_id),
              wrapper_html: { class: "col-md-5" } %>
          </div>

          <div class="row">
            <%= f.input :mother_age,
              label: label_for(:mother_age),
              input_html: { class: "col-md-8" },
              wrapper_html: { class: "col-md-2" } %>

            <%= f.input :mother_residency_id,
              collection: State.all,
              label_method: :description,
              value_method: :id,
              label: label_for(:mother_residency_id),
              wrapper_html: { class: "col-md-5" } %>

            <%= f.input :mother_education_grade_id,
              collection: EducationGrade.all,
              label_method: :description,
              value_method: :id,
              label: label_for(:mother_education_grade_id),
              wrapper_html: { class: "col-md-5" } %>
          </div>
        </div>
      </div>
      <div class="card-body center">
        <%= f.submit "Siguiente", class: "btn btn-primary btn-primary--submit" %>
      </div>
    <% end %>
    <div class="card-body">
      <%= render "shared/benefit_sections" %>
    </div>
  </div>

  <%= render "shared/footer" %>
</section>
