<section>
  <%= image_tag "encabezado_inicio_1920.png", class: "header-image" %>
</section>

<section>
  <%= image_tag "movilidad_en_la_salud_1920.png", class: "header-image" %>
</section>

<section>
  <%= image_tag "movilidad_educativa_1920.png", class: "header-image" %>
</section>

<section>
  <%= image_tag "movilidad_laboral_1920.png", class: "header-image" %>
</section>

<section class="section-youtube-embed">
  <h3 class="know-more">Conoce más sobre la movilidad social en este video</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ObFvGb-6UAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<section class="section-start-questions">
  <h3 class="perspectives">¿Cuáles son tus perspectivas?</h3>
  <%= link_to "Simulador", question_start_path, class: "btn start-questions-button" %>
</section>

<%= render "shared/footer" %>
