<section>
  <%= image_tag "home_movilidad_social.png", class: "header-image" %>
</section>

<section class="home">
  <%= image_tag "home_movilidad_salud.png", class: "header-image" %>

  <div class="home-reference">
    <p>
      <a href="https://datos.bancomundial.org/indicador/SP.DYN.LE00.IN" target="_blank">
        Referencia 77 años
      </a>:
      Banco Mundial. Esperanza de vida <br>al nacer, total (años). México 2017.
    </p>
    <p>
      <a href="https://datos.bancomundial.org/indicador/SP.DYN.LE00.IN" target="_blank">
        Referencia 84 años
      </a>:
      Banco Mundial. Esperanza de vida <br>al nacer, total (años). Suiza 2017.
    </p>
  </div>
</section>

<section class="home">
  <%= image_tag "home_movilidad_educativa.png", class: "header-image" %>

  <div class="home-reference">
    <p>
      <a href="https://ceey.org.mx/wp-content/uploads/2019/05/Informe-Movilidad-Social-en-M%C3%A9xico-2019..pdf" target="_blank">
        Referencia
      </a>:
      Centro de Estudios Espinosa Yglesias (2019). Informe movilidad social en México 2019.
    </p>
  </div>
</section>

<section>
  <%= image_tag "home_movilidad_laboral.png", class: "header-image" %>
</section>

<section class="video">
  <h3 class="video__title">Conoce más sobre la movilidad social en este video</h3>

  <div class="video__container">
    <iframe src="https://www.youtube.com/embed//VxU69eSv7S4"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0"
            allowfullscreen></iframe>
  </div>
</section>

<section class="start">
  <h3 class="start__title">¿Cuáles son tus perspectivas?</h3>
  <%= link_to "Simulador", question_start_path, class: "btn start__button" %>
</section>

<%= render "shared/footer" %>
