<section>
  <%= image_tag "home_movilidad_social.png", class: "header-image" %>
</section>

<section class="home">
  <%= image_tag "home_movilidad_salud.png", class: "header-image" %>
</section>

<section class="home">
  <%= image_tag "home_movilidad_educativa.png", class: "header-image" %>
</section>

<section>
  <%= image_tag "home_movilidad_laboral.png", class: "header-image" %>
</section>

<section class="start">
  <h3 class="start__title">¿Cuáles son tus perspectivas?</h3>
  <%= link_to "Iniciar", question_start_path, class: "btn start__button" %>
</section>

<section class="references">
  <strong>Referencias</strong>
  <br>- <a href="http://hdr.undp.org/en/data">
    United Nations Development Programme. Human Development Reports
  </a>
  <br>- Centro de Estudios Espinosa Yglesias. Informe movilidad social en México 2019.
  <br>- Centro de Estudios Espinosa Yglesias. EMOVI 2017.
</section>

<%= render "shared/footer" %>
