<section>
  <%= image_tag "home_movilidad_social.png", class: "header-image", id: "home-image" %>
</section>

<section class="home">
  <%= image_tag "home_movilidad_salud.png", class: "header-image" %>
</section>

<section class="home">
  <%= image_tag "home_movilidad_educativa.png", class: "header-image" %>
</section>

<section>
  <%= image_tag "home_movilidad_laboral.png", class: "header-image" %>
</section>

<section class="start">
  <h3 class="start__title">¿Qué edad tienes?</h3>
  <select class="form-control select start__age" onchange="redirectUser(this);">
    <option></option>
    <option value="14">14 años o menos</option>
    <% (15..24).each do |age| %>
      <option value="<%= age %>"><%= age %> años</option>
    <% end %>
    <option value="25">25 años o más</option>
  </select>
</section>

<section class="references">
  <strong>Referencias</strong>
  <br>- <a href="http://hdr.undp.org/en/data">
    United Nations Development Programme. Human Development Reports
  </a>.
  <br>- Centro de Estudios Espinosa Yglesias.
  <a href="https://ceey.org.mx/informe-de-movilidad-social-mexico-2019/" target="_blank">
    Informe movilidad social en México 2019
  </a>.
  <br>- Centro de Estudios Espinosa Yglesias.
  <a href="https://ceey.org.mx/contenido/que-hacemos/emovi-pre/" target="_blank">
    ESRU - EMOVI 2017
  </a>.
</section>

<%= render "shared/footer" %>
