<section class="container">
  <div class="title">Acceso Administrador</div>
  <%= form_with model: @admin_login, url: admin_sign_in_path do |f| %>
    <div class="form-group --small">Usuario</div>
    <div class="form-group">
      <%= f.label "Usuario" %>
      <%= f.text_field :username, size: 10 %>
    </div>

    <div class="form-group --small">Contraseña</div>
    <div class="form-group">
      <%= f.label "Contraseña" %>
      <%= f.password_field :password, size: 10 %>
    </div>

    <div class="form-group --center">
      <%= f.submit "Entrar" %>
    </div>
  <% end %>
  <div class="error"><%= flash[:alert] if flash[:alert]  %></div>
</section>
