<section class="benefit-sections container-fluid" style="background-color: <%= defined?(background_dark) && background_dark ? "#F3F8F9" : "#FFF" %>">
  <h3 class="benefit-sections-header text-center">Conoce los beneficios de la movilidad social para tu:</h3>

  <div class="row">
    <div class="col-md-2 offset-1">
      <span class="benefit-section-circle circle-aqua">1</span>

      <% if defined?(health_enabled) && health_enabled %>
        <%= link_to simulator_start_path do %>
          <span class="benefit-section-name">Salud</span>
          <%= image_tag "lock-open.png", class: "lock-image" %>
        <% end %>
      <% else %>
        <span class="benefit-section-name">Salud</span>
        <%= image_tag "lock-closed.png", class: "lock-image" %>
      <% end %>
    </div>

    <div class="col-md-2 benefit-section-divider">
      <span class="">–––––</span>
    </div>

    <div class="col-md-2">
      <span class="benefit-section-circle circle-green">2</span>
      <% if defined?(education_enabled) && education_enabled %>
        <%= link_to simulator_part_2_path do %>
          <span class="benefit-section-name">Educación</span>
          <%= image_tag "lock-open.png", class: "lock-image" %>
        <% end %>
      <% else %>
        <span class="benefit-section-name">Educación</span>
        <%= image_tag "lock-closed.png", class: "lock-image" %>
      <% end %>
    </div>

    <div class="col-md-2">
      <span class="benefit-section-divider">–––––</span>
    </div>

    <div class="col-md-2">
      <span class="benefit-section-circle circle-orange">3</span>
      <% if defined?(work_enabled) && work_enabled %>
        <%= link_to simulator_part_3_path do %>
          <span class="benefit-section-name">Trabajo</span>
          <%= image_tag "lock-open.png", class: "lock-image" %>
        <% end %>
      <% else %>
        <span class="benefit-section-name">Trabajo</span>
        <%= image_tag "lock-closed.png", class: "lock-image" %>
      <% end %>
    </div>
  </div>

</section>
