<div class="modal-dialog finish" role="document">
  <div class="modal-content">
    <div class="wrapper">
      <div class="results">
        <%= image_tag("results/resultados-bg-1.svg", class: "background --top") %>
        <%= image_tag("results/resultados-bg-2.svg", class: "background --left") %>
        <%= image_tag("results/logo.png", class: "logo") %>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <p class="title">¡Gracias por tu <span>participación</span>!</p>
        <p class="description">
          Recuerda que estos <span class="bold">resultados son estimaciones y no predicciones.</span>
          Muchos factores, que aquí no se consideran, juegan un papel en
          <span class="orange bold"> las oportunidades que tenemos</span>
          <span class="aqua bold">y en cómo las aprovechamos.</span> Todas(os), el gobierno,
          la sociedad en general y nosotras(os) como personas, compartimos responsabilidades para
          <span class="bold">impulsar nuestra movilidad social.</span>
        </p>

        <%= image_tag("results/resultados-bg-3.svg", class: "background --right") %>

        <table class="desktop">
          <tr>
            <td><%= image_tag("results/icono-salud-resultados.svg") %></td>
            <td>
              <span class="kpi-title">Años de vida esperados:</span>
              <span class="purple bold bignumber">
                <%= number_with_precision(user.expected_age, precision: 0) %>
              </span>
            </td>
          </tr>
          <tr>
            <td><%= image_tag("results/icono-logroescolar-resultados.svg") %></td>
            <td>
              <span class="kpi-title">Logro escolar (actual):</span>
              <span class="orange bold bignumber">
                <%= number_with_precision(user.education_achievement, precision: 0) %>%
              </span>
            </td>
          </tr>
          <tr>
            <td><%= image_tag("results/icono-ingreso-resultados.svg") %></td>
            <td>
              <span class="kpi-title">Ingreso mensual promedio:</span>
              <span class="darkblue bold bignumber">
                $<%= number_with_precision(user.average_income, precision: 0, delimiter: ",") %>
              </span>
              <br><span class="kpi-note">(Según escolaridad actual)</span>
            </td>
          </tr>
          <% if user.is_employed? %>
            <tr>
              <td><%= image_tag("results/icono-empleoformal-resultados.svg") %></td>
              <td>
                <span class="kpi-title">Probabilidad de obtener o mantener un empleo formal:</span>
                <span class="aqua bold bignumber">
                  <%= number_with_precision(user.keep_formal_work_probability, precision: 0) %>%
                </span>
              </td>
            </tr>
          <% else %>
            <tr>
              <td><%= image_tag("results/icono-mercadolaboral-resultados.svg") %></td>
              <td>
                <span class="kpi-title">Probabilidad de participar en el mercado laboral:</span>
                <span class="lightorange bold bignumber">
                  <%= number_with_precision(user.work_probability, precision: 0) %>%
                </span>
              </td>
            </tr>
            <tr>
              <td><%= image_tag("results/icono-empleoformal-resultados.svg") %></td>
              <td>
                <span class="kpi-title">Probabilidad de obtener un empleo formal:</span>
                <span class="aqua bold bignumber">
                  <%= number_with_precision(user.formal_work_probability, precision: 0) %>%
                </span>
              </td>
            </tr>
          <% end %>
        </table>

        <div class="mobile">
          <div>
            <%= image_tag("results/icono-salud-resultados.svg") %>
            <span class="kpi-title">Años de vida esperados:</span>
            <span class="purple bold bignumber">
              <%= number_with_precision(user.expected_age, precision: 0) %>
            </span>
          </div>
          <div>
            <%= image_tag("results/icono-logroescolar-resultados.svg") %>
            <span class="kpi-title">Logro escolar (actual):</span>
            <span class="orange bold bignumber">
              <%= number_with_precision(user.education_achievement, precision: 0) %>%
            </span>
          </div>
          <div>
            <%= image_tag("results/icono-ingreso-resultados.svg") %>
            <span class="kpi-title">Ingreso mensual promedio:</span>
            <br><span class="kpi-note">(Según escolaridad actual)</span>
            <span class="darkblue bold bignumber">
              $<%= number_with_precision(user.average_income, precision: 0, delimiter: ",") %>
            </span>
          </div>
          <% if user.is_employed? %>
            <div>
              <%= image_tag("results/icono-empleoformal-resultados.svg") %>
              <span class="kpi-title">Probabilidad de obtener o mantener un empleo formal:</span>
              <span class="aqua bold bignumber">
                <%= number_with_precision(user.keep_formal_work_probability, precision: 0) %>%
              </span>
            </div>
          <% else %>
            <div>
              <%= image_tag("results/icono-mercadolaboral-resultados.svg") %>
              <span class="kpi-title">Probabilidad de participar en el mercado laboral:</span>
              <span class="lightorange bold bignumber">
                <%= number_with_precision(user.work_probability, precision: 0) %>%
              </span>
            </div>
            <div>
              <%= image_tag("results/icono-empleoformal-resultados.svg") %>
              <span class="kpi-title">Probabilidad de obtener un empleo formal:</span>
              <span class="aqua bold bignumber">
                <%= number_with_precision(user.formal_work_probability, precision: 0) %>%
              </span>
            </div>
          <% end %>
        </div>

        <div class="restart" onclick="deleteCookie();">Comenzar de nuevo</div>

        <div class="bottom-image">
          <%= image_tag("results/resultados-bg-4.svg", class: "background --bottom --desktop") %>
          <%= image_tag("results/resultados-bg-5.svg", class: "background --bottom") %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#finishModal").on("hide.bs.modal", function () {
    $(".body-main").css("z-index", 1);
  });
</script>
