<div class="slider">
  <div class="slider__text">
    Usa la barra para avanzar en el logro escolar y revisa los resultados
    basados en tus características
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <hr class="dotted-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <img src="<%= @user.slider_image %>" data-behavior="slider-image">
    </div>
  </div>

  <% if @user.complete_education_level == 0 %>
    <div class="slider__refresh" data-behavior="slider-refresh"
        data-value="<%= @user.complete_education_level %>">
      <%= image_tag("refresh.png") %>
    </div>
  <% end %>

  <div class="row slider__track"
       data-behavior="slider" data-kpis="<%= @user.kpis %>"
       data-section="<%= @user.section %>">
    <% EducationLevel.with_education.each_with_index do |education_level, i| %>
      <div class="col-2 slider__section
             <%= "slider__section--left offset-1" if education_level.id == 1 %>
             <%= "slider__section--right"         if education_level.id == 5 %>
             <%= "slider__section--selected"      if education_level.id <= @user.complete_education_level %>"
           data-behavior="<%= "slider-enabled"    if education_level.id >= @user.complete_education_level %>"
           data-value="<%= education_level.id %>">

        <% if @user.complete_education_level == education_level.id %>
          <div class="slider__thumb"></div>
        <% end %>

        <% if @user.complete_education_level.zero? && i.zero? %>
          <div class="slider__thumb slider__thumb--left"></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row slider__labels" >
    <div class="slider__labels-pos1 col-2 offset-1">Primaria</div>
    <div class="slider__labels-pos2 col-2">Secundaria</div>
    <div class="slider__labels-pos3 col-2">Preparatoria</div>
    <div class="slider__labels-pos4 col-2">Universidad</div>
    <div class="slider__labels-pos5 col-2">Posgrado</div>
  </div>
</div>
