<div class="slider">
  <div class="slider__text">
    Usa la barra para avanzar en el logro escolar y revisa los resultados
    basados en tus características
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <hr class="dotted-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <img src="<%= @user.slider_image %>" data-behavior="slider-image">
    </div>
  </div>

  <% if @user.complete_education_level == 0 %>
    <div class="slider__refresh" data-behavior="slider-refresh"
        data-value="<%= @user.complete_education_level %>">
      <%= image_tag("refresh.png") %>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="range"
         style='--step:.1; --min:1; --max:5; --value:<%= @user.complete_education_level %>; --text-value:"<%= @user.complete_education_level %>"; --primaryColor:gold; --fill-color:orange; --value-active-color:unset;'
    >
      <input data-behavior="slider"
             data-section="<%= @user.section %>"
             data-kpis="<%= @user.kpis %>"
             type="range"
             min="1"
             max="5"
             step=".1"
             value="<%= @user.complete_education_level %>"
             oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))"
      >
      <div class='range__progress'></div>
    </div>
  </div>

  <div class="row slider__labels" >
    <div class="offset-lg-1 col-lg-10 col-12 m-slider">
      <div class="slider__labels-pos1">Primaria</div>
      <div class="slider__labels-pos2">Secundaria</div>
      <div class="slider__labels-pos3">Preparatoria</div>
      <div class="slider__labels-pos4">Universidad</div>
      <div class="slider__labels-pos5">Posgrado</div>
    </div>
  </div>
</div>
