<section>
  <h2 class="heading heading-2-orange center">Simulador de</h2>
  <h1 class="heading uppercase heading-1-black center">Movilidad Social</h1>
  <div class="center heading-legend">
    Conoce los beneficios de la movilidad social para tu:
  </div>
  <%= image_tag "encabezado_trabajo.png", class: "header-image" %>
</section>

<section class="">
  <h3 class="simulator-header-text center">
    Comparación entre tus padres y tu generación
  </h3>

  <div class="center simulator-paragraph-text">
    Características de tu primer empleo

    <hr class="dotted-hr">
  </div>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text center">
    Participación Laboral
  </h3>
</section>


<section class="work-participation">
  <div class="container">
    <div class="row">
      <div class="col-md-4 work-participation__text">
        Tu probabilidad de entrar al mercado laboral es:
      </div>

      <div class="col-md-8 work-participation__text">
        La tasa de participación laboral de la generación de tus padres es:
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 work-participation__divider">
        <hr class="dotted-hr">
      </div>

      <div class="col-md-8 work-participation__divider">
        <hr class="dotted-hr">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 work-participation__chart">
        <%= image_tag @user.work_image %>

        <div class="chart center"
             data-percent="<%= @user.work_probability %>">
          <div class="work-participation__kpi">
            <%= @user.work_probability %>%
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu
        </div>
      </div>

      <div class="col-md-4 work-participation__chart">
        <%= image_tag "work_mother.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.mother_work_participation_rate %>">
          <div class="work-participation__kpi">
            <%= @user.mother_work_participation_rate %>%
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu madre
        </div>
      </div>

      <div class="col-md-4 work-participation__chart">
        <%= image_tag "work_father.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.father_work_participation_rate %>">
          <div class="work-participation__kpi">
            <%= @user.father_work_participation_rate %>%
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu padre
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text center">
    <span class="work-tooltip"
          data-toggle="tooltip"
          data-placement="top"
          title="<%= tooltip_text %>">?
    </span>
    Formalidad
  </h3>
</section>

<section class="work-participation">
  <div class="container">
    <div class="row">
      <div class="col-md-4 work-participation__text">
        La probabilidad de tener seguridad social (IMSS, ISSSTE u otros) en
        tu empleo es:
      </div>

      <div class="col-md-8 work-participation__text">
        La tasa de trabajos con seguridad social (IMSS, ISSSTE u otros) de
        la generación de tus padres es:
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 work-participation__divider">
        <hr class="dotted-hr">
      </div>

      <div class="col-md-8 work-participation__divider">
        <hr class="dotted-hr">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 work-participation__chart">
        <%= image_tag @user.work_image %>

        <div class="chart center"
             data-percent="<%= @user.formal_work_probability %>">
             <div class="work-participation__kpi">
               <%= @user.formal_work_probability %>%
             </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu
        </div>
      </div>

      <div class="col-md-4 work-participation__chart">
        <%= image_tag "work_mother.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.mother_formal_work_participation_rate %>">
             <div class="work-participation__kpi">
               <%= @user.mother_formal_work_participation_rate %>%
             </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu madre
        </div>
      </div>

      <div class="col-md-4 work-participation__chart">
        <%= image_tag "work_father.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.father_formal_work_participation_rate %>">
             <div class="work-participation__kpi">
               <%= @user.father_formal_work_participation_rate %>%
             </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu padre
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-orange">
  <h3 class="simulator-header-text text-center">
    ¿Y qué pasa si continúas estudiando?
  </h3>
</section>

<section>
  <div class="container">
    <%= render "slider" %>

    <div class="row">
      <div class="col-6 background-dark-green">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "mercado_laboral.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white simulation-results__text--small">
              Probabilidad de participar <br>en el mercado laboral
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi" id="work-probability">
              <%= @user.work_probability %>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 background-orange">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "social_security_icon.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white simulation-results__text--small">
              Probabilidad de obtener <br>un empleo formal
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi" id="formal-work-probability">
              <%= @user.formal_work_probability %>
            </span>
          </div>
        </div>
      </div>

    </div>
</section>

<section class="print">
  <button class="btn btn-primary" onclick="window.print();">Imprimir</button>
</section>

<section class="start-over">
  <button class="btn btn--submit btn-default" onclick="delete_cookie();">
    Comenzar de nuevo
  </button>
</section>

<section class="references">
  <strong>Referencias</strong>
  <br>- Centro de Estudios Espinoza Yglesias (2017).
  Encuesta ESRU de Movilidad Social en México.
  <br>- Instituto Nacional de Estadística y Geografía (1er trimestre 2019).
  Encuesta Nacional de Ocupación y Empleo.
</section>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: @user.filled_out_all_parts?,
  work_enabled: @user.filled_out_all_parts? %>

<%= render "shared/footer" %>
