<section>
  <h2 class="heading heading-2-orange center">Simulador de</h2>
  <h1 class="heading uppercase heading-1-black center">Movilidad Social</h1>

  <div class="center heading-legend">
    Conoce los beneficios de la movilidad social para tu:
  </div>

  <%= image_tag "encabezado_educacion.png", class: "header-image" %>
</section>

<section class="education-achievement">
  <h3 class="simulator-header-text center">
    <%= @user.education_achievement_title %>
  </h3>

  <div class="center simulator-paragraph-text">
    <strong>Logro educativo:</strong> años de escolaridad cursados con relación
    a los años que podrías haber cursado, tomando en cuenta tu edad y los logros
    que ha obtenido tu generación.

    <hr class="dotted-hr">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 education-achievement__text <%= @user.education_achievement_col_offset_class %>">
        Tienes el <span class="highlight"><%= @user.education_achievement %>%</span>
        de los logros educativos que podrías haber obtenido
      </div>

      <% if @user.mother_or_father_has_education? %>
        <div class="col-6 background-gray education-achievement__text">
          <%= raw(@user.education_achievement_text) %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-6 <%= @user.education_achievement_col_offset_class %>">
        <div class="education-achievement__kpi">
          <%= @user.education_achievement %>%
        </div>

        <%= image_tag @user.education_achievement_image %>

        <p class="education-achievement__title">
          <span class="highlight">Tu</span> logro educativo
        </p>
      </div>

      <% if @user.mother_or_father_has_education? %>
        <div class="col-6 background-gray">
          <div class="education-achievement__kpi">
            <%= @user.parents_education_achievement %>%
          </div>

          <%= image_tag @user.parents_education_achievement_image %>

          <p class="education-achievement__title">
            Logro educativo de <span class="highlight">
            <%= @user.education_achievement_parents_text %></span>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">
    ¿Cómo estás con respecto a
    <select class="education-select" id="education-select" onchange="updateBooks(this)">
      <option value="<%= @user.sex %>" data-image="<%= image_path(@user.tertile_image(:sex)) %>">
        <%= @user.sex.pluralize %>
      </option>
      <option value="<%= @user.region %>" data-image="<%= image_path(@user.tertile_image(:region)) %>">
        Región <%= @user.region %>
      </option>
      <option value="<%= @user.age_group %>" data-image="<%= image_path(@user.tertile_image(:age)) %>">
        <%= @user.age_group %>
      </option>
    </select>
    ?
  </h3>
</section>

<section class="education-comparison">
  <div class="container">
    <div class="row">
      <div class="col-md-6 education-comparison__paragraph">
        Tu posición en la escala educativa se ubica en...
      </div>
    </div>
    <div class="row">
      <div class="col-12 education-comparison__row">
        <div class="education-comparison__text education-comparison__text--high">
          El 33% más alto
        </div>
      </div>
      <div class="col-12 education-comparison__row">
        <div class="education-comparison__text education-comparison__text--medium">
          El 33% de en medio
        </div>
      </div>
      <div class="col-12 education-comparison__row">
        <div class="education-comparison__text education-comparison__text--low">
          El 33% más bajo
        </div>
      </div>

      <div class="col-7 offset-5 education-comparison__image">
        <%= image_tag @user.tertile_image, id: "education-books" %>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">
    ¿Y qué pasa si continúas estudiando?
  </h3>
</section>

<section>
  <div class="container">
    <%= render "slider" %>

    <div class="row">
      <div class="col-lg-6 background-dark-green">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "logro_icon.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white">
              Logro <br>Escolar
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi">
              <span id="education-achievement"><%= @user.education_achievement %></span>
              <span>%</span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 background-orange">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "ingreso_icon.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--small simulation-results__text--white">
              Ingreso Mensual <br> Promedio (24 a 35 años)
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi">
              <span>$</span>
              <span id="average-income"><%= @user.average_income %></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: true,
  work_enabled: @user.filled_out_all_parts? %>

<section class="references">
  <strong>Referencias</strong>
  <br>- Centro de Estudios Espinoza Yglesias. Logro escolar. Elaboración propia.
  <br>- Encuesta Nacional de Ocupación y Empleo 1er trimestre 2018 (ENOE).
  Instituto Nacional de Estadística y Geografía (INEGI).
</section>

<%= render "shared/footer" %>
