<section>
  <h2 class="heading-2-orange text-center">Simulador de</h2>
  <h1 class="heading-1-black text-center">Movilidad Social</h1>
  <%= image_tag "encabezado_educacion_1920.png", class: "header-image" %>
</section>

<section class="life-expectancy-section">
  <h3 class="simulator-header-text text-center">¿Cuáles son tus logros educativos y los de tus padres?</h3>
  <div class="col-md-8 offset-2">
    <p class="text-center text-size-md simulator-paragraph-text">
      <strong>Logro educativo:</strong> años de escolaridad cursados con relación
      a los años que podrías haber cursado, tomando en cuenta tu edad y los logros
      que ha obtenido tu generación.
    </p>
  </div>

  <hr class="dotted-hr">

  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center marker-box marker-box-gray">
        <p class="text-size-lg col-md-8 offset-2">
          Tienes el <%= content_tag :span, "#{@user.education_achievement}%", class: "orange" %> de los logros educativos que podrías haber obtenido
        </p>
        <% if @user.education_achievement <= "33" %>
          <%= image_tag "bajo.png", class: "marker-image" %>
        <% elsif @user.education_achievement <= "66" %>
          <%= image_tag "medio.png", class: "marker-image" %>
        <% else @user.education_achievement >= "67" %>
          <%= image_tag "alto.png", class: "marker-image" %>
        <% end %>

        <p class="text-size-lg uppercase">
          <span class="orange">Tu</span> logro educativo
        </p>
      </div>

      <div class="col-md-6 text-center marker-box">
        <p class="text-size-lg col-md-8 offset-2">
          Tus padres tienen el
          <%= content_tag :span, "#{@user.parents_education_achievement}%", class: "orange" %>
          de los logros educativos que se esperaba que obtuvieran
        </p>
        <% if @user.parents_education_achievement <= "33" %>
          <%= image_tag "bajo.png", class: "marker-image" %>
        <% elsif @user.parents_education_achievement <= "66" %>
          <%= image_tag "medio.png", class: "marker-image" %>
        <% else @user.parents_education_achievement >= "67" %>
          <%= image_tag "alto.png", class: "marker-image" %>
        <% end %>
        <p class="text-size-lg uppercase" style="padding-top:2px">
          Logro educativo de <span class="orange">tus padres</span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">
    ¿Cómo estás con respecto a
    <select class="big-select">
      <option value="<%= @user.sex %>"><%= @user.sex_text.titleize %> de tu generación</option>
      <option value="<%= @user.region %>">La Región <%= @user.region %></option>
      <option value="<%= @user.age_group %>">Edad <%= @user.age_group %></option>
    </select>
    ?
  </h3>
</section>

<section class="books-section">
  <div class="container" style="height:530px">
    <div class="row">
      <div class="col-md-5 offset-1">
        <p class="text-size-lg center books-section-paragraph-big">
          De acuerdo con los logros académicos de tu generación, tu desempeño es...
        </p>
      </div>
      <div class="col-md-6">
        <p class="books-section-heading center uppercase text-size-lg">Logro Escolar</p>
      </div>
    </div>
    <div class="row" style="flex-direction: row-reverse">
      <div class="col-12 books-section-stripe">
        <p class="books-section-stripe-text" style="margin-left: 300px">
          Entre
          <%= tertile_for(@user, :top).lower_limit %>% y <%= tertile_for(@user, :top).upper_limit %>%
          del desempeño escolar
        </p>
      </div>
      <div class="col-12 books-section-stripe">
        <p class="books-section-stripe-text" style="margin-left: 200px">
          Entre
          <%= tertile_for(@user, :middle).lower_limit %>% y <%= tertile_for(@user, :middle).upper_limit %>%
          del desempeño escolar
        </p>
      </div>
      <div class="col-12 books-section-stripe">
        <p class="books-section-stripe-text" style="margin-left: 100px">
          Entre
          <%= tertile_for(@user, :bottom).lower_limit %>% y <%= tertile_for(@user, :bottom).upper_limit %>%
          del desempeño escolar
        </p>
      </div>

      <%= image_tag tertile_image_for(@user), class: "books-section-image" %>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">¿Y qué pasa si continúas estudiando?</h3>
</section>

<section class="health-simulation-section">
  <div class="container">
    <%= render "slider" %>

    <div class="row" style="height: 100px">
      <div class="col-6 background-dark-green">
        <div class="row">
          <div class="col-md-3 simulation-results text-center">
            <%= image_tag "logro_icon.png", class: "health-icon" %>
          </div>
          <div class="col-md-4 simulation-results">
            <p class="text-uppercase school-achievement-text">Logro Escolar</p>
          </div>
          <div class="col-md-2 white-box text-center">
            <p class="life-expectancy-number-text" id="education-achievement">
            <%= @user.education_achievement %>
            </p>
          </div>
          <div class="col-md-2 simulation-results text-center">
            <p class="text-uppercase school-achievement-text" style="font-size: 2.5rem">%</p>
          </div>
        </div>
      </div>

      <div class="col-6 background-orange">
        <div class="row">
          <div class="col-md-3 simulation-results text-center">
            <%= image_tag "ingreso_icon.png", class: "health-icon" %>
          </div>
          <div class="col-md-3 simulation-results" style="">
            <p class="text-uppercase wellbeing-text">Ingreso Mensual</p>
          </div>
          <p class="school-achievement-dollar">$</p>
          <div class="col-md-4 white-box text-center">
            <p class="life-expectancy-number-text text-uppercase" id="average-income">
            <%= @user.average_income %>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="print-section text-center">
  <button class="btn btn-primary print-button">Imprimir</button>
</section>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: @user.filled_out_all_parts?,
  work_enabled: @user.filled_out_all_parts? %>

<%= render "shared/footer" %>
