<section>
  <h2 class="heading heading-2-orange center">Simulador de</h2>
  <h1 class="heading uppercase heading-1-black text-center">Movilidad Social</h1>
  <div class="center heading-legend">
    Conoce los beneficios de la movilidad social para tu:
  </div>
  <%= image_tag "encabezado_educacion.png", class: "header-image" %>
</section>

<section class="education-achievement">
  <h3 class="simulator-header-text text-center">
    ¿Cuáles son tus logros educativos y los de tus padres?
  </h3>

  <div class="center simulator-paragraph-text">
    <strong>Logro educativo:</strong> años de escolaridad cursados con relación
    a los años que podrías haber cursado, tomando en cuenta tu edad y los logros
    que ha obtenido tu generación.

    <hr class="dotted-hr">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 background-gray education-achievement__text">
        Tienes el <span class="highlight"><%= @user.education_achievement %></span>
        de los logros educativos que podrías haber obtenido
      </div>
      <div class="col-6 education-achievement__text">
        Tus padres tienen el <span class="highlight"><%= @user.parents_education_achievement %></span>
        de los logros educativos que se esperaba que obtuvieran
      </div>
    </div>

    <div class="row">
      <div class="col-6 education-alternate-bg">
        <%= image_tag @user.education_achievement_image %>

        <p class="education-achievement__title">
          <span class="highlight">Tu</span> logro educativo
        </p>
      </div>
      <div class="col-6">
        <%= image_tag @user.parents_education_achievement_image %>

        <p class="education-achievement__title">
          Logro educativo de <span class="highlight">tus padres</span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">
    ¿Cómo estás con respecto a
    <select class="education-select">
      <option value="<%= @user.sex %>"><%= @user.sex.pluralize %></option>
      <option value="<%= @user.region %>">Región <%= @user.region %></option>
      <option value="<%= @user.age_group %>"><%= @user.age_group %></option>
    </select>
    ?
  </h3>
</section>

<section class="education-comparison">
  <div class="container">
    <div class="row">
      <div class="col-md-6 education-comparison__paragraph">
        De acuerdo con los logros académicos de tu generación, tu desempeño es...
      </div>
    </div>
    <div class="row">
      <div class="col-12 education-comparison__row">
        <div class="education-comparison__text education-comparison__text--high">
          Entre
          <%= tertile_for(@user, :top).lower_limit %>% y <%= tertile_for(@user, :top).upper_limit %>%
          <br>del desempeño escolar
        </div>
      </div>
      <div class="col-12 education-comparison__row">
        <div class="education-comparison__text education-comparison__text--medium">
          Entre
          <%= tertile_for(@user, :middle).lower_limit %>% y <%= tertile_for(@user, :middle).upper_limit %>%
          <br>del desempeño escolar
        </div>
      </div>
      <div class="col-12 education-comparison__row">
        <div class="education-comparison__text education-comparison__text--low">
          Entre
          <%= tertile_for(@user, :bottom).lower_limit %>% y <%= tertile_for(@user, :bottom).upper_limit %>%
          <br>del desempeño escolar
        </div>
      </div>

      <div class="col-7 offset-5 education-comparison__image">
        <%= image_tag tertile_image_for(@user) %>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">¿Y qué pasa si continúas estudiando?</h3>
</section>

<section>
  <div class="container">
    <%= render "slider" %>

    <div class="row">
      <div class="col-lg-6 background-dark-green">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "logro_icon.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white">
              Logro <br>Escolar
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi" id="education-achievement">
              <%= @user.education_achievement %>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 background-orange">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "ingreso_icon.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white">
              Ingreso Mensual <br> Promedio
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi" id="average-income">
              <%= @user.average_income %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="print-section text-center">
  <button class="btn btn-primary print-button">Imprimir</button>
</section>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: @user.filled_out_all_parts?,
  work_enabled: @user.filled_out_all_parts? %>

<%= render "shared/footer" %>
