<section>
  <%= image_tag "encabezado_trabajo.png", class: "header-image" %>
</section>

<section class="">
  <h3 class="simulator-header-text center">
    Comparación entre tus padres y tu generación
  </h3>

  <div class="center simulator-paragraph-text">
    Características de tu primer empleo

    <hr class="dotted-hr">
  </div>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text center">
    Participación laboral
  </h3>
</section>


<section class="work-participation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 work-participation__text">
        <span style="color: #F97635"><b>Tu</b></span> probabilidad de entrar al mercado laboral es:
      </div>

      <div class="col-8 work-participation__text">
        La tasa de participación laboral de la generación de
        <span style="color: #6EC7B9"><b>tus padres</b></span>, con base en su edad y región, es:
      </div>
    </div>

    <div class="row">
      <div class="col-4 work-participation__divider">
        <hr class="dotted-hr">
      </div>

      <div class="col-8 work-participation__divider">
        <hr class="dotted-hr">
      </div>
    </div>

    <div class="row">
      <div class="col-4 work-participation__chart">
        <%= image_tag @user.work_image %>

        <div class="chart center"
             data-percent="<%= @user.work_probability %>">
          <div class="work-participation__kpi">
            <%= @user.work_probability %> %
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Tú
        </div>
      </div>

      <div class="col-4 work-participation__chart">
        <%= image_tag "work_mother.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.mother_work_participation_rate %>">
          <div class="work-participation__kpi">
            <%= @user.mother_work_participation_rate %> %
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Mujeres
        </div>
      </div>

      <div class="col-4 work-participation__chart">
        <%= image_tag "work_father.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.father_work_participation_rate %>">
          <div class="work-participation__kpi">
            <%= @user.father_work_participation_rate %> %
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Hombres
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text center">
    Formalidad
    <span class="upward-mobility__i"
          data-toggle="tooltip"
          data-placement="top"
          data-html="true"
          title="<%= tooltip_text %>">
      <svg width=".6em" height=".6em" viewBox="0 0 16 16" class="bi bi-info-circle-fill mt-n4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
    </span>
  </h3>
</section>

<section class="work-participation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 work-participation__text">
        <span style="color: #f97635"><b>Tu</b></span> probabilidad de tener seguridad social
        (IMSS, ISSSTE u otros) en tu primer empleo es:
      </div>

      <div class="col-8 work-participation__text">
        La tasa de empleos formales (IMSS, ISSSTE u otros) de la generación de
        <span style="color: #6EC7B9"><b>tus padres</b></span>, con base en su edad y región, es:
      </div>
    </div>

    <div class="row">
      <div class="col-4 work-participation__divider">
        <hr class="dotted-hr">
      </div>

      <div class="col-8 work-participation__divider">
        <hr class="dotted-hr">
      </div>
    </div>

    <div class="row">
      <div class="col-4 work-participation__chart">
        <%= image_tag @user.work_image %>

        <div class="chart center"
             data-percent="<%= @user.formal_work_probability %>">
          <div class="work-participation__kpi">
            <%= @user.formal_work_probability %> %
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Tú
        </div>
      </div>

      <div class="col-4 work-participation__chart">
        <%= image_tag "work_mother.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.mother_formal_work_participation_rate %>">
          <div class="work-participation__kpi">
            <%= @user.mother_formal_work_participation_rate %> %
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Mujeres
        </div>
      </div>

      <div class="col-4 work-participation__chart">
        <%= image_tag "work_father.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.father_formal_work_participation_rate %>">
          <div class="work-participation__kpi">
            <%= @user.father_formal_work_participation_rate %> %
          </div>
        </div>

        <div class="work-participation__chart-footer">
          Hombres
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-orange">
  <h3 class="simulator-header-text text-center">
    ¿Y qué pasa si continúas estudiando?
  </h3>
</section>

<section>
  <div class="container-fluid">
    <%= render "slider" %>

    <div class="row">
      <div class="col-lg-6 background-dark-green">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "mercado_laboral.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white simulation-results__text--small">
              Probabilidad de participar <br>en el mercado laboral
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi">
              <span id="work-probability"><%= @user.work_probability %></span>
              <span>%</span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-6 background-orange">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "social_security_icon.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--white simulation-results__text--small">
              Probabilidad de obtener <br>un empleo formal
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi">
              <span id="formal-work-probability"><%= @user.formal_work_probability %></span>
              <span>%</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="finish-button">
  <button class="btn btn--submit btn-default" onclick="displayFinishModal();">
    Finalizar
  </button>
</section>

<div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: @user.filled_out_all_parts?,
  work_enabled: @user.filled_out_all_parts? %>

  <section class="references">
    <div>
    <strong>Fuentes</strong>
    <br>- <%= link_to "Construcción de escenarios de salud, educación y trabajo", "https://ceey.org.mx/wp-content/uploads/2021/05/Construcci%C3%B3n-de-escenarios-de-salud-educaci%C3%B3n-y-trabajo.-Simulador-Movilidad-Social.pdf", target: "_blank"%>, Centro de Estudios Espinosa Yglesias.
    <br>- <%= link_to "Encuesta Nacional de Ocupación y Empleo 2018, I Trimestre", "https://www.inegi.org.mx/programas/enoe/15ymas/default.html%23Datos_abiertos", target: "_blank" %>, Instituto Nacional de Estadística y Geografía.
  </div>
</section>

<%= render "shared/footer" %>
