<section>
  <div class="center heading-legend">
    Conoce los beneficios de la movilidad social para tu:
  </div>

  <%= image_tag "encabezado_salud.png", class: "header-image" %>
</section>

<section class="life-expectancy-section">
  <h3 class="simulator-header-text center">
    ¿<%= @user.expected_age_question_text %>?
  </h3>

  <div class="center simulator-paragraph-text">
    <strong>Años totales de vida esperada:</strong> número de años que, en
    promedio, se espera que viva una persona de una determinada edad.

    <hr class="dotted-hr">
  </div>

  <div class="container">
    <div class="row life-expectancy-row">
      <div class="col-md-4 <%= @user.expected_age_col_offset_class %> center">
        <%= image_tag @user.expected_age_image, class: "life-expectancy-image" %>
        <div class="life-expectancy-number-input">
          <p class="life-expectancy-number" style="color:#215862">
            <%= @user.expected_age %> AÑOS
          </p>
        </div>
      </div>

      <% if @user.mother_has_expected_age? %>
        <div class="col-md-4 %> center">
          <%= image_tag "esperanza_vida_madre.png", class: "life-expectancy-image" %>
          <div class="life-expectancy-number-input">
            <p class="life-expectancy-number" style="color:#60dac7">
              <%= @user.mother_expected_age %> AÑOS
            </p>
          </div>
        </div>
      <% end %>

      <% if @user.father_has_expected_age? %>
        <div class="col-md-4 center">
          <%= image_tag "esperanza_vida_padre.png", class: "life-expectancy-image" %>
          <div class="life-expectancy-number-input">
            <p class="life-expectancy-number" style="color:rgb(245, 133, 49)">
              <%= @user.father_expected_age %> AÑOS
            </p>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 center">
      <% if @user.mother_or_father_have_expected_age? %>
        <p class="text-size-md health-paragraph-text-black">
          <strong>
            Los años de vida esperados de los padres generalmente son más, porque
            han superado periodos de riesgo, como los accidentes en la adolescencia.
          </strong>
        </p>
      <% end %>

      <p class="text-size-md health-paragraph-text-black">
        La mayoría de los jóvenes goza de buena salud, pero la
        <span class="take-care-text-highlight">mortalidad prematura</span>
        es considerablemente alta por:
      </p>

      <div class="row health-images">
        <div class="col-md-2 offset-md-1">
          <%= image_tag "accidente.png",  class: 'health-image' %>
          <div class="row">
            <div class="col-md-12 take-care-image-text">
              accidentes de tránsito
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <%= image_tag "drogas.png", class: 'health-image' %>
          <div class="row">
            <div class="col-md-12 take-care-image-text">
              consumo de drogas
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <%= image_tag "obeso.png", class: 'health-image'%>
          <div class="row">
            <div class="col-md-12 take-care-image-text">
              falta de actividad física
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <%= image_tag "condon.png",  class: 'health-image' %>
          <div class="row">
            <div class="col-md-12 take-care-image-text">
              relaciones sexuales sin protección
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <%= image_tag "violencia.png",  class: 'health-image' %>
          <div class="row">
            <div class="col-md-12 take-care-image-text">
              exposición a la violencia
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section">
  <h3 class="simulator-header-text center">
    ¿Cómo estás con respecto a <%= @user.sex_text %> de tu generación?
  </h3>
</section>

<section>
  <h3 class="map-title center">
    Máximo de años de vida esperados...
  </h3>

  <div class="map">
     <img src="<%= image_url(@user.region_map_image) %>">

     <div class="map-label map-label--world">
       <span class="map-text">en el mundo</span>
       <span class="map-kpi"><%= @user.world_expected_age %> años</span>
     </div>
     <div class="map-label map-label--country">
       <span class="map-text">en México</span>
       <span class="map-kpi"><%= @user.country_expected_age %> años</span>
     </div>
     <div class="map-label map-label--region">
       <span class="map-text">en la región <br><%= @user.region.downcase %></span>
       <span class="map-kpi"><%= @user.region_expected_age %> años</span>
     </div>
  </div>
</section>

<section class="simulator-header-section">
  <h3 class="simulator-header-text center">
    ¿Y qué pasa si continúas estudiando?
  </h3>
</section>

<section>
  <div class="container">
    <%= render "slider" %>

    <div class="row background-teal">
      <div class="col-md-6 offset-md-3">
        <div class="simulation-results">
          <div class="simulation-results__col simulation-results__col--1">
            <%= image_tag "esperanza.png", class: "kpi-icon" %>
          </div>
          <div class="simulation-results__col simulation-results__col--2">
            <span class="simulation-results__text simulation-results__text--green">
              Años de vida esperados
            </span>
          </div>
          <div class="simulation-results__col simulation-results__col--3">
            <span class="simulation-results__kpi" id="life-expectancy">
              <%= @user.expected_age %>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: true,
  work_enabled: @user.filled_out_all_parts? %>

<section class="references">
  <strong>Referencias</strong>
  <br>- Consejo Nacional de Población. Tablas de años de vida esperados.
  <br>- Organización Mundial de la Salud (OMS). Años máximos de vida esperados.
  <br>- Organización Mundial de la Salud (OMS). Adolescentes: riesgos para la salud y soluciones
</section>

<%= render "shared/footer" %>
