<section>
  <h2 class="heading-2-orange text-center">Simulador de</h2>
  <h1 class="heading-1-black text-center">Movilidad Social</h1>
  <%= image_tag "encabezado_salud_1920.png", class: "header-image" %>
</section>

<section class="life-expectancy-section">
  <h3 class="simulator-header-text text-center">¿Cuáles son los años de vida esperados para ti y para tus padres?</h3>
  <p class="text-center text-size-md simulator-paragraph-text">
    <strong>Años totales de vida esperada:</strong> número de años que en promedio se espera que viva una persona a partir de su edad
  </p>

  <hr class="dotted-hr">


  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag @user.expected_age_image, class: "life-expectancy-image" %>
        <div class="life-expectancy-number-input">
          <p class="life-expectancy-number"><%= @user.expected_age %> años</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <%= image_tag "esperanza_vida_madre.png", class: "life-expectancy-image" %>
        <div class="life-expectancy-number-input">
          <p class="life-expectancy-number"><%= @user.mother_expected_age %> años</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <%= image_tag "esperanza_vida_padre.png", class: "life-expectancy-image" %>
        <div class="life-expectancy-number-input">
          <p class="life-expectancy-number"><%= @user.father_expected_age %> años</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="simulator-header-section">
  <h3 class="simulator-header-text text-center">¿Cómo estás con respecto a <%= @user.sex_text %> de tu generación?</h3>
</section>

<section class="map-header-section">

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "mapa_mundo.png", class: "map-image" %>
      <div class="row">
        <div class="col-md-12 my-auto">
          <p class="text-size-lg map-paragraph-text">
            En el <span class="orange-underline">mundo</span>,
            los años de vida esperados máximos son <span class="orange-underline"><%= @user.world_expected_age %> años</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <%= image_tag "mapa_mexico.png", class: "map-image" %>
      <div class="row">
        <div class="col-md-12 my-auto">
          <p class="text-size-lg map-paragraph-text">
            En <span class="orange-underline">México</span>,
            los años de vida esperados máximos son <span class="orange-underline"><%= @user.country_expected_age %> años</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <%= image_tag @user.region_map_image, class: "map-image" %>
      <div class="row">
        <div class="col-md-12 my-auto">
          <p class="text-size-lg map-paragraph-text">
            En la región <span class="orange-underline"><%= @user.region %></span>,
            los años de vida esperados máximos son <span class="orange-underline"><%= @user.region_expected_age %> años</span>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="simulator-header-section">
  <h3 class="simulator-header-text text-center">¿Y qué pasa si continúas estudiando?</h3>
</section>

<section class="health-simulation-section">
  <p class="text-center text-size-md simulator-paragraph-text">
    Usa la barra para avanzar en el logro escolar y revisa los resultados
  </p>

  <hr class="dotted-hr">

  <div class="container">
    <div class="row">
      <% EducationLevel.with_education.each do |education_level| %>
        <div class="col-2 <%= "offset-1" if education_level.id == 1 %>">
          <figure>
            <%= simulator_user_image(education_level.id, @user.education_level, @user.sex, :salud) %>
            <figcaption><br /><%= education_level.description %></figcaption>
          </figure>
        </div>
      <% end %>
    </div>
    <div class="row">
      <input type="range" step="1" min="0" max="5" value="<%= @user.education_level %>" onchange="updateKpis(this.value)">
    </div>

    <div class="row" style="height: 100px">

      <div class="col-12 background-teal">
        <div class="row">
          <div class="col-md-3 simulation-results text-center">
            <%= image_tag "life_expectancy_icon.png", class: "health-icon" %>
          </div>
          <div class="col-md-4 simulation-results">
            <p class="text-uppercase life-expectancy-text">Esperanza de vida</p>
          </div>
          <div class="col-md-2 white-box text-center">
            <p class="life-expectancy-number-text" id="life-expectancy"><%= @user.expected_age %></p>
          </div>
          <div class="col-md-2 simulation-results text-center">
            <p class="text-uppercase life-expectancy-text">años</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="print-section text-center">
  <button class="btn btn-primary print-button">Imprimir</button>
</section>

<%= render "shared/benefit_sections", background_dark: true %>

<%= render "shared/footer" %>

<script charset="utf-8">
  function updateKpis(education_level) {
    Rails.ajax({
      url: "/kpis/health?education_level_id=" + education_level,
      type: "get",
      success: function(data) {
        document.getElementById("life-expectancy").innerHTML = data["life_expectancy"];
      },
      error: function(data) { console.log("error: ver logs del servidor"); }
    });
  }
</script>
