<section>
  <h2 class="heading heading-2-orange center">Simulador de</h2>
  <h1 class="heading uppercase heading-1-black center">Movilidad Social</h1>
  <div class="center heading-legend">
    Conoce los beneficios de la movilidad social para tu:
  </div>
  <%= image_tag "encabezado_trabajo.png", class: "header-image" %>
</section>

<section class="">
  <h3 class="simulator-header-text center">
    Comparación entre tus padres y tu generación
  </h3>

  <div class="center simulator-paragraph-text">
    <hr class="dotted-hr">
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text center">
    <span class="work-tooltip"
          data-toggle="tooltip"
          data-placement="top"
          title="<%= tooltip_text %>">?
    </span>
    Formalidad
  </h3>
</section>

<section class="work-participation">
  <div class="container">
    <div class="row">
      <div class="col-md-4 work-participation__text">
        La probabilidad de obtener o mantener un empleo formal
        (IMSS, ISSSTE u otros) es:
      </div>

      <div class="col-md-8 work-participation__text">
        La tasa de empleos formales (IMSS, ISSSTE u otros) de la generación de
        tus padres es:
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 work-participation__divider">
        <hr class="dotted-hr">
      </div>

      <div class="col-md-8 work-participation__divider">
        <hr class="dotted-hr">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 work-participation__chart">
        <%= image_tag @user.work_image %>

        <div class="chart center"
             data-percent="<%= @user.keep_formal_work_probability %>">
             <div class="work-participation__kpi">
               <%= @user.keep_formal_work_probability %>%
             </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu
        </div>
      </div>

      <div class="col-md-4 work-participation__chart">
        <%= image_tag "work_mother.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.mother_formal_work_participation_rate %>">
             <div class="work-participation__kpi">
               <%= @user.mother_formal_work_participation_rate %>%
             </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu madre
        </div>
      </div>

      <div class="col-md-4 work-participation__chart">
        <%= image_tag "work_father.png" %>

        <div class="chart-parent center"
             data-percent="<%= @user.father_formal_work_participation_rate %>">
             <div class="work-participation__kpi">
               <%= @user.father_formal_work_participation_rate %>%
             </div>
        </div>

        <div class="work-participation__chart-footer">
          Tu padre
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text center" >
    Pérdida de la Formalidad
  </h3>
</section>

<section class="work-formality">
  <div class="container">
    <h3 class="simulator-header-text center">
      Sabías que... en el mercado laboral mexicano, las personas tienden a
      permanecer en su condición laboral
    </h3>

    <div class="row work-formality__row">
      <%= image_tag "form_inform.png" %>

      <div class="col-4 work-formality__text">
        La probabilidad <br> de pasar de la <br>
        <span class="work-formality__highlight">FORMALIDAD </span>a la
        <span class="work-formality__highlight">INFORMALIDAD</span> es de:
        <span class="work-formality__highlight work-formality__highlight--kpi">
          <%= @user.lose_formal_work_probability %>%
        </span>
      </div>

      <div class="col-4 work-formality__text work-formality__text--right">
        Una vez estando <br> en la
        <span class="work-formality__highlight">INFORMALIDAD, </span><br>
        la probabilidad de <br> mantenerse en ella es de:
        <span class="work-formality__highlight work-formality__highlight--kpi">
          <%= @user.keep_informal_work_probability %>%
        </span>
      </div>
    </div>

  </div>
</section>

<section class="simulator-header-section-orange">
  <h3 class="simulator-header-text text-center">
    ¿Y qué pasa si continúas estudiando?
  </h3>
</section>

<section>
  <div class="container">
    <%= render "slider" %>

    <div class="row">
      <div class="col-12 background-orange">
        <div class="col-md-8 offset-md-2">
          <div class="simulation-results">
            <div class="simulation-results__col simulation-results__col--1">
              <%= image_tag "social_security_icon.png", class: "kpi-icon" %>
            </div>
            <div class="simulation-results__col simulation-results__col--2">
              <span class="simulation-results__text simulation-results__text--white simulation-results__text--small">
                Probabilidad de obtener o <br> mantener un empleo formal
              </span>
            </div>
            <div class="simulation-results__col simulation-results__col--3">
              <span class="simulation-results__kpi" id="keep-formal-work-probability">
                <%= @user.keep_formal_work_probability %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="print">
  <button class="btn btn-primary" onclick="window.print();">Imprimir</button>
</section>

<section class="start-over">
  <button class="btn btn--submit btn-default" onclick="delete_cookie();">
    Comenzar de nuevo
  </button>
</section>

<section class="references">
  <strong>Referencias</strong>
  <br>- Centro de Estudios Espinosa Yglesias. Participación laboral. Elaboración propia
  <br>- Centro de Estudios Espinosa Yglesias. Trayectoria exitosa. Elaboración propia
  <br>- Encuesta Nacional de Ocupación y Empleo 1er trimestre 2018 (ENOE).
  Instituto Nacional de Estadística y Geografía (INEGI).
</section>

<%= render "shared/benefit_sections",
  background_dark: true,
  health_enabled: true,
  education_enabled: @user.filled_out_all_parts?,
  work_enabled: @user.filled_out_all_parts? %>

<%= render "shared/footer" %>
