<section>
  <h2 class="heading-2-orange text-center">Simulador de</h2>
  <h1 class="heading-1-black text-center">Movilidad Social</h1>
  <%= image_tag "encabezado_trabajo_1920.png", class: "header-image" %>
</section>

<section class="life-expectancy-section">
  <h3 class="simulator-header-text text-center">Comparación entre tus padres y tu generación</h3>
  <div class="col-md-8 offset-2">
    <p class="text-center text-size-md simulator-paragraph-text">
      Características de tu primer empleo
    </p>
  </div>

  <hr class="dotted-hr">

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">
    Participación Laboral
  </h3>
</section>


<section>
  <div class="container">

    <div class="row">
      <div class="col-md-4 text-center pie-chart-box">
        <p class="text-size-lg col-md-11 offset-1">
          Tu probabilidad de entrar al mercado laboral es:
        </p>
        <hr class="dotted-hr" style="margin: 1.5rem auto">
        <div class="chart" data-percent="73">
          <span class="easy-pie-chart-percentage">73%</span>
        </div>
        <p class="text-size-lg uppercase">
          Tú
        </p>
      </div>

      <div class="col-md-8 text-center pie-chart-box">
        <p class="text-size-lg col-md-8 offset-2">
          La tasa de participación laboral de la generación de tus padres es:
        </p>
        <hr class="dotted-hr" style="margin: 1.5rem auto">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="chart" data-percent="73">
                <span class="easy-pie-chart-percentage percentage-multiple">73%</span>
              </div>
              <p class="text-size-lg uppercase">
                Tu Madre
              </p>
            </div>

            <div class="col-md-6">
              <div class="chart" data-percent="73">
                <span class="easy-pie-chart-percentage percentage-multiple">73%</span>
              </div>
              <p class="text-size-lg uppercase">
                Tu Padre
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center" data-toggle="tooltip" data-placement="top" title="<%= tooltip_text %>">
    Formalidad
  </h3>
</section>

<section>
  <div class="container">

    <div class="row">
      <div class="col-md-5 text-center pie-chart-box">
        <p class="text-size-lg col-md-12">
          La probabilidad de tener seguridad social (IMSS, ISSSTE u otros) en tu empleo es:
        </p>
        <hr class="dotted-hr" style="margin: 1.5rem auto">
        <div class="chart" data-percent="73">
          <span class="easy-pie-chart-percentage">73%</span>
        </div>
        <p class="text-size-lg uppercase">
          Tú
        </p>
      </div>

      <div class="col-md-7 text-center pie-chart-box">
        <p class="text-size-lg col-md-8 offset-2">
          La tasa de trabajos con seguridad social de la generación de tus padres es:
        </p>
        <hr class="dotted-hr" style="margin: 1.5rem auto">
        <div class="chart" data-percent="73">
          <span class="easy-pie-chart-percentage">73%</span>
        </div>
        <p class="text-size-lg uppercase">
          Tus padres
        </p>
      </div>
    </div>
  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center" data-toggle="tooltip" data-placement="top" title="<%= tooltip_text %>">
    Pérdida de la Formalidad
  </h3>
</section>
<section>
  <div class="container">
    <p class="text-size-lg formalidad-paragraph-text text-center">Sabías que... en el mercado laboral mexicano, las personas tienden a 
    permanecer en su condición laboral</p>

    <div class="row form_inform">

      <div class="col-md-2">
            <p class="text-size-md text-center">
              relaciones sexuales sin protección
            </p>          
      </div>

      <div class="col-md-2">
        <div class="row">
          <div class="col-md-9">
            <p class="text-size-md text-center">
              exposición a la violencia
            </p>
          </div>
        </div>
      </div>


    </div>


  </div>
</section>

<section class="simulator-header-section-dark">
  <h3 class="simulator-header-text text-center">¿Y qué pasa si continúas estudiando?</h3>
</section>

<section class="health-simulation-section" style="padding-bottom: 5rem">
  <p class="text-center text-size-md simulator-paragraph-text">
    Usa la barra para avanzar en el logro escolar y revisa los resultados
  </p>

  <hr class="dotted-hr">

  <div class="container">
    <div class="row">
      <% EducationLevel.with_education.each do |education_level| %>
        <div class="col-2 <%= "offset-1" if education_level.id == 1 %>">
          <figure>
            <%= simulator_user_image(education_level.id, @user.education_level, @user.sex, :salud) %>
            <figcaption><br /><%= education_level.description %></figcaption>
          </figure>
        </div>
      <% end %>
    </div>
    <div class="row">
      <input type="range" step="1" min="0" max="5" value="<%= @user.education_level %>" onchange="updateKpis(this.value)">
    </div>

    <div class="row" style="height: 100px">

      <div class="col-6 background-dark-green">
        <div class="row">
          <div class="col-md-3 work-simulation-results text-center offset-1">
            <%= image_tag "mercado_laboral.png", class: "health-icon", style: "height: 70px;" %>
          </div>
          <div class="col-md-4 work-simulation-results">
            <p class="text-uppercase wellbeing-text">Probabilidad de participar en el mercado laboral</p>
          </div>
          <div class="col-md-2 white-box text-center" style="height: 4rem; margin-top: 2rem">
            <p class="life-expectancy-number-text"><%= @user.expected_age %></p>
          </div>
        </div>
      </div>

      <div class="col-6 background-orange">
        <div class="row">
          <div class="col-md-2 work-simulation-results text-center">
            <%= image_tag "social_security_icon.png", class: "health-icon", style: "margin-top: 1rem" %>
          </div>
          <div class="col-md-5 work-simulation-results">
            <p class="text-uppercase wellbeing-text">Probabilidad de obtener un empleo formal</p>
          </div>
          <div class="col-md-2 white-box text-center" style="height: 4rem; margin-top: 2rem">
            <p class="life-expectancy-number-text text-uppercase">80</p>
          </div>
          <div class="col-md-2 work-simulation-results text-center">
            <p class="text-uppercase school-achievement-text" style="font-size: 2.5rem">%</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="print-section text-center">
  <button class="btn btn-primary print-button">Imprimir</button>
</section>

<%= render "shared/benefit_sections", background_dark: true, education_enabled: true, work_enabled: @user.is_employed, health_enabled: true %>

<%= render "shared/footer" %>

<script charset="utf-8">
  function updateKpis(education_level) {
    Rails.ajax({
      url: "/kpis/health?education_level_id=" + education_level,
      type: "get",
      success: function(data) {
        document.getElementById("life-expectancy").innerHTML = data["life_expectancy"];
      },
      error: function(data) { console.log("error: ver logs del servidor"); }
    });
  }
</script>

<script>
  $(function() {
    $('.chart').easyPieChart({
      barColor: "#FF7D00",
      trackColor: "#B5B5B5",
      scaleColor: false,
      lineWidth: 25,
      lineCap: 'square',
      size: 180,
    });
  });
</script>

<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>

